<div class="row" id="container" style="position:relative; max-height:800px">
<% @tweets.each do |tweet| %>
	<div class="well">
		<%= raw(tweet.text.gsub /((#|@)([a-zA-Z0-9_]*))/, '<a href="https://twitter.com/hashtag/\3">\1</a>') %><br>Vadapalani
		<div class="pull-right user">- <a href="<%= @client.user(tweet.user.id).url.to_s%>"><%= tweet.user.name %></a></div>
		<br>
	</div>
<% end %>
</div>
<script type="text/javascript">
	// var nested = $("#container").nested({minWidth: 50, animate: true, animationOptions: {
 //    speed: 100,
 //    duration: 200,
 //    queue: true,
 //  }});
	$('#container').wookmark({autoResize: true,align: 'left',resizeDelay: 200, container: $('#container'), flexibleWidth: true, itemWidth: '33%'});
</script>
